<nav>
    <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/inv/type/Custom">Custom</a></li>
        <li><a href="Sedan">Sedan</a></li>
        <li><a href="/SUV">SUV</a></li>
        <li><a href="/Truck">Truck</a></li>
    </ul>
</nav>