<main class="inventory-management">
    <h1>Inventory Management</h1>

    <!-- Flash messages -->
    <% if (success.length> 0) { %>
        <div class="flash-message success">
            <%= success[0] %>
        </div>
        <% } %>

            <% if (error.length> 0) { %>
                <div class="flash-message error">
                    <%= error[0] %>
                </div>
                <% } %>

                    <% if (notice.length> 0) { %>
                        <div class="flash-message notice">
                            <%= notice[0] %>
                        </div>
                        <% } %>

                            <!-- Links to other views -->
                            <ul>
                                <li><a href="/inv/add-classification">Add New Classification</a></li>
                                <li><a href="/inv/add">Add New Inventory Item</a></li>
                            </ul>

                            <!-- REQUIRED HEADING -->
                            <h2>Manage Inventory</h2>

                            <!-- REQUIRED PARAGRAPH -->
                            <p>Please select a classification to see the inventory items.</p>

                            <!-- REQUIRED SELECT LIST -->
                            <div class="classification-select">
                                <%- classificationSelect %>
                            </div>

                            <!-- REQUIRED EMPTY TABLE -->
                            <table id="inventoryDisplay"></table>

                            <!-- REQUIRED noscript MESSAGE -->
                            <noscript>JavaScript must be enabled to use this page.</noscript>

                            <!-- JavaScript file -->
                            <script src="/js/inventory.js"></script>
</main>


        